<div class="spinnerContainer position-absolute">
    <div class="spinner"></div>
    <div class="loader">
        <div class="words">
            <span class="word">Loading...</span>
        </div>
    </div>
</div>